[Unit]
Description=Blog-Generator for servicing qcs (dev)

[Service]
WorkingDirectory=/storage/random/blog-generator
ExecStart=/storage/random/blog-generator/blog-generator
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=blog-generator
User=www-data
Environment="DOTNET_ENVIRONMENT=Development"

[Install]
WantedBy=multi-user.target
