<!DOCTYPE html>
<html>
<!--{{revisionId}}-->

<head>
    <meta charset="UTF-8">
    {{#theme_color}}
    <meta name="theme-color" content="{{theme_color}}">
    {{/theme_color}}
    <title>{{{title}}}</title>
    {{#icon}}
    <link rel="icon" type="{{icon.type}}" href="{{icon.link}}">
    {{/icon}}
    {{#scripts}}
    <script src="." type="application/javascript"></script>
    {{/scripts}}
    {{#styles}}
    <link rel="stylesheet" href=".">
    {{/scripts}}
</head>

<body>
    <!-- The section that tells what "blog" this is-->
    <header id="blog_header">
        <h1 id="blog_title">{{collection_header}}</h1>
    </header>
    <!-- The bulk of the page, including navigation -->
    <section id="main_container">
        <article id="post_container">
            <div id="title_container" class="post_title_container">
                <h1 id="page_title" class="post_title">{{title}}</h1>
            </div>
            <!-- The page is rendered without any markup applied, so the 'rendered' container is empty. There is a separate
                container with the raw content; upon load, the raw content is rendered into the render element, the render
                element is unhidden, and the raw element is hidden -->
            <div id="content_container_rendered" class="contentcontainer" style="display:none"></div>
            <pre id="content_container_raw" class="contentcontainer">{{content}}</pre>
        </article>
        <nav id="pagenavigation">
            <h3 id="pagenavigation_title">More Posts</h3>
            <ol id="pagenavigation_list">
            {{#navlinks}}
                <li class="navitem {{#current}}navcurrent{{/current}}"><a href="{{link}}">{{text}}</a></li>
            {{/navlinks}}
            </ol>
        </nav>
    </section>
    <!-- Whatever extra junk you want to put on the bottom. Hidden for now, don't know what to do with it -->
    <footer style="display:none"></footer>
</body>

</html>