<!DOCTYPE html>
<html lang="en">
<!--{{page.lastRevisionId}}-->

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{page.description}}">
    <meta name="author" content="{{author}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#parent.values.share_theme_color}}
    <meta name="theme-color" content="{{parent.values.share_theme_color}}">
    {{/parent.values.share_theme_color}}
    <title>{{page.name}}</title>
    {{#icon}}
    <link rel="icon" type="{{icon.type}}" href="{{icon.link}}">
    {{/icon}}
    {{#scripts}}
    <script src="." type="application/javascript"></script>
    {{/scripts}}
    {{#styles}}
    <link rel="stylesheet" href=".">
    {{/styles}}
</head>

<body {{#is_parent}}data-isblogroot="true"{{/is_parent}}>
    <!-- The section that tells what "blog" this is-->
    <header id="blog_header">
        <h1 id="blog_title">{{parent.name}}</h1>
    </header>
    <!-- The bulk of the page, including navigation -->
    <section id="main_container">
        <article id="post_container">
            <div id="title_container" class="post_title_container">
                <h1 id="page_title" class="post_title">{{page.name}}</h1>
            </div>
            <div id="publish_info" class="publish_info">
                <span id="author">{{author}}</span>
                <time id="publish_date" datetime="{{page.createDate}}">{{page.createDate}}</time>
            </div>
            <!-- The page is rendered without any markup applied, so the 'rendered' container is empty. There is a separate
                container with the raw content; upon load, the raw content is rendered into the render element, the render
                element is unhidden, and the raw element is hidden -->
            <div id="content_container_rendered" class="contentcontainer" style="display:none"></div>
            <pre id="content_container_raw" class="contentcontainer">{{page.text}}</pre>
        </article>
        <nav id="pagenavigation">
            <h3 id="pagenavigation_title">More Posts</h3>
            <ol id="pagenavigation_list">
            {{#navlinks}}
                <li class="navitem {{#current}}navcurrent{{/current}}"><a href="{{link}}">{{text}}</a></li>
            {{/navlinks}}
            </ol>
        </nav>
    </section>
    <!-- Whatever extra junk you want to put on the bottom. Don't know what to do with it -->
    <footer id="blog_footer">
        <span id="blog_id">{{parent.id}}</span>
        <span id="page_id">{{page.id}}</span>
        <span id="render_date">{{render_date}}</span>
    </footer>
</body>

</html>