<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{{title}}}</title>
    {{#scripts}}
    <script src="." type="application/javascript"></script>
    {{/scripts}}
    {{#styles}}
    <link rel="stylesheet" href=".">
    {{/scripts}}
</head>

<body>
</body>

</html>