body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

header {
    padding: 1em;
    background-color: lightblue;
}

footer {
    background-color: lightblue;
}

#blog_title a:visited, #blog_title a:link {
    text-decoration: none;
    color: black;
}

#main_container {
    display: flex;
    flex-wrap: wrap;
}

#post_container {
    flex: auto;
    flex-basis: 50em;
}

#pagenavigation {
    flex: none;
    width: 20em;
}

section {
    padding: 1em;
}

.publish_info {
    font-style: italic;
    color: #777;
    font-size: 0.9em;
    margin-left: 0.5em;
    margin-bottom: 0.75em;
}

.publish_info > * {
    margin-right: 0.5em;
}

.content_container {
    padding: 0.5em;
}
